@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

body { 
    min-height: 100vh;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-family: var(--fonte2);
    font-variant: small-caps;
    font-size: 10vw;
}

header p {
    font-family: var(--fonte1);
    padding-bottom: 50px;
    text-align: center;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 4.0vw;
    padding-left: 30px;
    font-family: var(--fonte3);
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    color: white;
}

#img1 {
    background: black url(imagens/background001.jpg) center center no-repeat fixed;
    background-size: cover;
}

#img2 {
    background: black url(imagens/background002.jpg) center center no-repeat fixed;
    background-size: cover;
}

.imagem > p {
    display: inline-block;
    padding:  5px;
    background-color: rgba(0, 0, 0, 0.541);
}

a {
    font-family: var(--fonte1);
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}